<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Think.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9FE66AAA218EDD53005E9830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE66ABE218EDD56005E9830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FE66AC9218EDD56005E9830</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
